
#title {
    color: #37e15a;
    text-align: center;
    padding: 1 0;
    text-style: bold;
    width: 100%;
}

#subtitle {
    color: #8075ff;
    text-align: center;
    padding: 0 0 1 0;
    text-style: bold;
    width: 100%;
}

#date {
    color: #f8f0fb;
    text-align: center;
    padding: 1 0;
    width: 100%;
}

Button#login_btn {
    background: #37e15a;
    color: #211a1d;
}

Button#register_btn {
    background: #6320ee;
    color: #f8f0fb;
}